<div class="cards-container">
  <app-card></app-card>
  <app-card></app-card>
</div>

<input
  [type]="inputType"
  id="meu-input"
  [value]="inputText"
  [disabled]="isDisabled"
  (keyup)="handleInputKeyup($event)"
  (input)="handleInputEvent($event)"
/>
<div>
  <button
    (click)="enableDisableInput()"
    [style.width]="widthButton1"
    [style.backgroundColor]="bgButton1"
  >
    Habilitar/Desabilitar
  </button>
  <button
    (click)="setTextPassword()"
    [style.width.px]="widthButton2"
    [style.backgroundColor]="'pink'"
  >
    Text/Password
  </button>
  <button [style]="stylesObj" (click)="logInputText()">Log</button>
</div>
<div>
  <button [attr.title]="buttonTitle">teste</button>
  <button [title]="buttonTitle">teste</button>
  <button [attr.disabled]="buttonDisable ? buttonDisable : null">
    Disabled
  </button>
  <button (click)="onButtonClick()">Mudar props</button>
</div>
<div>
  <button [style]="stylesObj2" (click)="updateStyleObj()">Atualizar obj</button>
  <button [style]="stylesObj2" (click)="updateStyleObjCorrect()">
    Atualizar obj correto
  </button>
</div>
<div>
  <button [class.red-button]="true" (click)="isGreenButton = false">
    Vermelho
  </button>
  <button [class.green-button]="true" (click)="isGreenButton = true">
    Verde
  </button>
  <button
    [class]="{
      'red-button': !isGreenButton,
      'green-button': isGreenButton
    }"
  >
    Objeto
  </button>
</div>
